html, body {
  height: 100%;
}

body {
  font-family: "Microsoft YaHei Light","Microsoft YaHei","Lantinghei SC","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
  text-rendering: geometricPrecision;
  margin: 0;
  font-weight: 200;
}

input {
  font-family: inherit;
  text-rendering: inherit;
}

#app {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#line {
  position: absolute;
  left: 0;
  right: 0;
  top: 62%;
  bottom: 38%;
  margin: auto;
  width: 62%;
  height: 2px;
  background-color: black;
}

#flag {
  position: absolute;
  margin: 0 auto;
  width: 0;
  height: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 30px solid black;
  border-bottom: 30px solid transparent;
  transition: all .2s;
}

#team_a, #team_b {
  position: absolute;
  width: 300px;
  height: 400px;
  border-radius: 16px;
  bottom: 38%;
  margin: auto 0;
  transition: all .6s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 1px 4px #aaa;
  z-index: 2;
  font-size: 40px;
}
#team_a {
  left: 19%;
}
#team_b {
  right: 19%;
}

@media screen and (max-width: 1500px) {
  #team_a, #team_b {
    width: 225px;
    height: 300px;
    font-size: 30px;
  }
}

@media screen and (max-width: 1000px) {
  #team_a, #team_b {
    width: 150px;
    height: 200px;
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  #team_a, #team_b {
    width: 75px;
    height: 100px;
    font-size: 12px;
  }
}

#scores {
  text-align: center;
  font-size: 60px;
  font-weight: inherit;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 3%;
}
#scores_text {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media screen and (max-width: 768px) {
  #scores {
    font-size: 30px;
  }
}

.tip {
  position: absolute;
  left: 0;
  right: 0;
  top: -1.2em;
  text-align: center;
  font-size: 90px;
  -webkit-animation: leave .6s both;
          animation: leave .6s both;
}

#github {
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: black;
  text-decoration: none;
}

#loading {
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 30%;
  font-size: 40px;
}

#form_tucao_a, #form_tucao_b {
  position: absolute;
  bottom: 3%;
  margin: auto;
  height: 30px;
  width: 200px;
  z-index: 1;
}
#form_tucao_a {
  left: 19%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
#form_tucao_b {
  right: 19%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

.textbox-tucao {
  text-align: center;
  font-size: 16px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  transition: all .2s;
  padding-bottom: 4px;
}

.textbox-tucao:focus {
  border-bottom-color: #39f;
}

.tucao-area {
  position: absolute;
  bottom: 10.5em;
  left: -500px;
  right: -500px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.tip-tucao {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  text-align: center;
  height: 1.2em;
  -webkit-animation: height-enter .2s both;
          animation: height-enter .2s both;
}
.tip-tucao.leave {
  -webkit-animation: leave .6s both;
          animation: leave .6s both;
}

#onlines {
  position: fixed;
  right: 10px;
  top: 10px;
}

#link_tuku {
  position: fixed;
  left: 10px;
  top: 10px;
  color: black;
  text-decoration: none;
}

@-webkit-keyframes leave {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-19.1%);
            transform: translateY(-19.1%);
  }
}

@keyframes leave {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-19.1%);
            transform: translateY(-19.1%);
  }
}

@-webkit-keyframes height-enter {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 1.2em;
    opacity: 1;
  }
}

@keyframes height-enter {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 1.2em;
    opacity: 1;
  }
}

@-webkit-keyframes hide-leave {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes hide-leave {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
